<div class="container">
  <div class="row align-items-center" style="height: 100vh">
    <div class="col" ng-repeat="mood in ctrl.moods">
      <div class="row moods">
        <div class="col text-center">
          <a ng-click="ctrl.press(mood)" class="mood"><img src="{{ mood.url }}" alt=""></a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <p>
            {{ mood.counter }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
